@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000515;
    --primary: #f2f2f2;
    --primary-foreground: #2f2f2f;
    --secondary: #42b6e3;
    /* --muted: 0 0% 96.1%; */
    /* --border: 0 0% 89.8%; */
    /* --input: 0 0% 89.8%; */
    --radius: 0.5rem;
  }
}

/* global.css */
.link div::after,
.link div::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--background);
  bottom: 0;
  left: 50%;
  transition:
    width 0.3s ease,
    left 0.3s ease;
}

.link div::before {
  transform-origin: right;
}

.link div:hover::after {
  width: 50%;
  left: 0;
}

.link div:hover::before {
  width: 50%;
  left: 50%;
}

body {
  @apply bg-background text-primary;
}
